# Auto detect text files and perform LF normalization
* text=auto
* text=auto
Dados/brutos/Ipeadata_files/*.axd linguist-detectable=false
*.tex linguist-detectable=false
*.rmd linguist-detectable=false
